/* Sticky Footer */

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.alert_success {
    background-color: lightgreen;
    border: green 1px solid;
    height 40px;
    padding: 5px;
    border-radius: 10px;
    margin-top: 20px;
}

.alert_fail {
    background-color: lightpink;
    border: red 1px solid;
    height 40px;
    padding: 5px;
    border-radius: 10px;
    margin-top: 20px;
}