{% extends 'base.html' %}
{% block content %}
    <div class="row">
        <div class="card-columns">
            {% for post in posts %}
                <a href="{{ url_for('post', post_id=post._id) }}">
                    <div class="card border-info mb-3">
                        <h5 class="card-header bg-info text-white">{{ post.title }}</h5>
                        <div class="card-body bg-light text-info">
                            {{ post.content | safe }}
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">{{ post.author }} - {{ post.date_posted.strftime('%d-%m-%Y') }}</small>
                        </div>
                    </div>
                </a>
            {% endfor%}
        </div>
    </div>

{% endblock %} 
