{% extends 'base.html' %}
{% block content %}
<div class="card border-info mt-3 single-card">
	<div class="card-header bg-info">
		<button type="button" class="close" onclick="goBack()"><i class="fas fa-times text-black"></i></button>
		<h4>{{ post.title }}</h4>
		<img class="float-left rounded-circle post-img" src="{{ url_for('static', filename='prof_img/' + post.avatar) }}" alt="Avatar">
		<small class="ml-2"> {{ post.author }}</small>
	</div>
	<div class="card-body">
        <p>{{ post.short_desc }}</p>
		{{ post.content | safe }}
	</div>
	<div class="card-footer">
		{% if post.author == current_user.username %}
		<a class="btn btn-secondary btn-sm"
			href="{{ url_for('update_post', post_id=post._id) }}"><i class="fas fa-pen"></i></a>
		<button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal"><i class="fas fa-trash-alt"></i></button>
		{% endif%}
		<small class="text-muted ml-2">Last update: {{ post.date_posted.strftime('%d-%m-%Y') }}</small>
	</div>
</div>
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
	aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="deleteModalLabel">Delete Note?</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Exit</button>
				<form action="{{ url_for('delete_post', post_id=post._id) }}" method="post">
					<input type="submit" class="btn btn-danger" value="Delete">
                </form>
			</div>
		</div>
	</div>
</div>
{% endblock %}