@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:100,400,700&display=swap');

/* Sticky Footer */

body {
    font-family: 'IBM Plex Sans', sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background: url('../img/bg.jpg'), center/cover no-repeat;
}

main {
    flex: 1 0 auto;
}

.profile_img {
    margin: 30px auto;
    max-height: 150px;
    max-width: 150px;
    border-radius: 50%
}

.frontpage-bg {
    background: url('../img/bg-jumbotron.jpg'), center/cover no-repeat;
}

.frontpage-card {
    height: 400px;
}

.frontpage-card-body {
    overflow: hidden;
}

.post-img {
    max-width: 30px;
}

.single-card {
    min-height: 50vh;
}

.card-header {
    cursor: pointer;
}