/* Sticky Footer */

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background: url('../img/bg.jpg'), center/cover, no-repeat;
    background-attachment: fixed;
}

main {
    flex: 1 0 auto;
}

.profile_img {
    border: 2px solid black;
    margin: 30px auto;
    max-height: 150px;
    max-width: 150px;
    border-radius: 50%
}
